[Unit]
Description=realelijahobara.tech  website rocket
After=network.target

[Service]
Type=simple
ExecStart=/home/sam/elisam_dev
WorkingDirectory=/home/sam
Restart=on-failure

[Install]
WantedBy=multi-user.target